/* 整体布局 */
* {padding:0;margin:0}
ul li {
    list-style-type: none;
}

a:link, a:visited{
/*    color: #000000; */
    color: #006699;
    text-decoration: none;
}

a:hover{
    color: #777777;
    text-decoration: underline;
}
#cy {
	width: 100%;
    margin-top : 0px;
    height: 470px;
    text-align: left;
    background-color: #f9f9f9;
}

#header {
    margin-top: 0px;
    margin-bottom:20px;
    padding: 0px;
    text-align:left;
    height:60px;
    width:100%;
    background-color:#f8f8f8;
}

#content {
    width: 100%;
    height:500px;
}

#left_comp{
	height: 500px;
	background-color: #f8f8f8;
	width:220px;
	float:left;
}

#right_comp{
	height: 500px;
	margin-left: 300px;
	weight:800px;
	background-color: #eee;
    position:relative
}

input[type="button"]{
    text-decoration:none;
    background:#0080FF;
    color:white;
    font-size:16px;
    font-family: sans-serif;
    font-weight:normal;
    border-radius:5px;
    padding: 2px 20px;
    width:160px;
}

input[type="button"]:hover{
    background:#385f9e;
}

option{
    line-height:300px;
    height:300px;
    margin:5px auto;
}

/* 右侧布局 */
.toggle{
	width: 180px;
	margin: 0 auto;
}
.toggle p{
	padding-left: 10px;
	padding-top: 5px;
}
.toggle img{
	margin-right: 5px;
}
.toggle_title{
	width:180px;
	height:24px;
	background: url("../images/header.gif") no-repeat;
	text-align: left;
	margin-top: 10px;
	color: #fff;
}
.toggle_select{
	width: 180px;
	background: url("../images/body.gif");
}
.toggle_select div{
	width: 180px;
	margin: 0 10px;
	text-align: left;
}
.toggle_select input[type="radio"]{
	margin-right: 5px;
}
.toggle_footer{
	width: 180px;
	background: url("../images/footer.gif") no-repeat;
	height: 10px;
}

/* 下拉侧布局 */
.dropdown {
	position: relative;
/*	height: 5%;*/
	height: 30px;
	background-color: #ccc;
	z-index: 99;
}
.dropdown li{
	font-weight: bold;
	float: left;
	zoom: 1;
	background: #ccc;
}
.dropdown a:hover{
	color: #fff;
}
.dropdown a:active{
	color: #1E90FF;
}
.dropdown li a{
	display: block;
	border-right: 1px solid #333;
	color: #000;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.dropdown li:last-child a{
	border-right: none;
}
.dropdown li:hover{
	background: #1E90FF;
	color: #fff;
	position: relative;
}
.dropdown li.hover a{
	color: #fff;
}
.dropdown ul{
	width: 120px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
}
.dropdown ul li{
	font-weight: normal;
	background: #f6f6f6;
	color: #000;
	border-bottom: 1px solid #ccc;
	float: none;
	text-align: left;
	padding-left: 5px;
}
.dropdown ul li a{
    border-right: none;
    width: 100%;
    display: inline-block;
 }
.dropdown ul ul{
    left: 100%;
    top: 0;
}
.dropdown li:hover > ul{
    visibility: visible;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-top: 8px;
	outline: none;
    width:160px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    background: -webkit-linear-gradient(#0489fb, #0489fb) no-repeat, #ddd;
    background-size: 100%;/*设置左右宽度比例*/
	height: 3px;/*横条的高度*/
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;/*清除系统默认样式*/
	height:16px;/*拖动块高度*/
    width: 16px;/*拖动块宽度*/
    background: #fff;/*拖动块背景*/
	border-radius: 50%; /*外观设置为圆形*/
	border: solid 1px #555; /*设置边框*/
}


